<div>
    <h1 class="text-center">Welcome to Football Manager</h1>
    <hr class="bg-primary w-75 mx-auto">
    <h3 class="text-center">On our platform, you can create and collect football players.</h3>
    <h3 class="text-center">
        <a class="btn btn-primary mx-1" href="/Identity/Account/Login">Login</a>
        if you have an account or
        <a class="btn btn-primary mx-1" href="/Identity/Account/Register">Register</a>
        now and check our deals.
    </h3>
</div>